# Exploring financial_news.db
Run the text_processing_example.py first

In [ ]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('../financial_news.db')

# Get list of tables
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in the database:")
display(tables)

# Explore a specific table (replace 'your_table_name' with actual table name)
if not tables.empty:
    table_name = tables['name'].iloc[1]  # Get first table name
    print(f"\nFirst 5 rows of table '{table_name}':")
    df = pd.read_sql(f"SELECT * FROM {table_name} LIMIT 22;", conn)
    display(df)
    
    # Get schema information
    print(f"\nSchema of table '{table_name}':")
    schema = pd.read_sql(f"PRAGMA table_info({table_name});", conn)
    display(schema)
    
    # Get row count
    count = pd.read_sql(f"SELECT COUNT(*) as row_count FROM {table_name};", conn)
    print(f"\nRow count for table '{table_name}':")
    display(count)

# Close connection
conn.close()